.feedback-form {
  position: relative;
  background-color: $color-deep-sky-blue;
  z-index: 1;
  overflow: hidden;

  &::before {
    @media (min-width: $vp-desktop-only) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 1450px;
      height: 950px;

      background-color: $color-decorative-triangle;
      transform: translate(-35.5%, -47%) rotate(-40.8deg);
    }
  }
}

.feedback-form__inner {
  max-width: 1300px;
  padding: 165px 40px 236px;
  background-image: url("../img/paper-airplane.png");
  background-position: top 246px left 40px;
  background-repeat: no-repeat;
  background-size: 39%;

  @include retina {
    @media (min-width: $vp-desktop-only) {
      background-image: url("../img/paper-airplane@2x.png");
    }
  }

  @include vp-1023 {
    background-image: none;
    padding: 45px 50px 114px;

    @include retina {
      background-image: none;
    }
  }

  @include vp-769 {
    padding: 47px 25px 88px;
  }
}

.feedback-form__offer {
  margin: 0 0 11px 50%;
  padding-left: 14px;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 7px;
    padding: 0;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.feedback-form__service {
  margin: 0 0 36px 50%;
  padding-left: 20px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 23px;
    padding: 0;
  }

  @include vp-769 {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.feedback-form__form {
  width: 49%;
  margin-left: 50%;
  padding-left: 20px;

  @include vp-1023 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
