.feedback-form {
  position: relative;
  background-color: $color-deep-sky-blue;
  z-index: 1;
  overflow: hidden;

  &::before {
    @media (min-width: $vp-desktop-only) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 1450px;
      height: 950px;

      background-color: $color-decorative-triangle;
      transform: translate(-35.5%, -47%) rotate(-40.8deg);
    }
  }
}

.feedback-form__inner {
  max-width: 1300px;
  padding: 165px 40px 237px;
  background-image: url("../img/paper-airplane.png");
  background-position: top 246px left 40px;
  background-repeat: no-repeat;
  background-size: 39%;

  @include retina {
    @media (min-width: $vp-desktop-only) {
      background-image: url("../img/paper-airplane@2x.png");
    }
  }

  @include vp-1023 {
    background-image: none;
    padding: 45px 50px 115px;

    @include retina {
      background-image: none;
    }
  }

  @include vp-769 {
    padding: 48px 25px 89px;
  }
}
