.form p:first-of-type {
  margin: 0 0 11px 50%;
  padding-left: 14px;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 7px;
    padding: 0;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form p:last-of-type {
  margin: 0 0 36px 50%;
  padding-left: 20px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 23px;
    padding: 0;
  }

  @include vp-769 {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.form form {
  width: 49%;
  margin-left: 50%;
  padding-left: 20px;

  @include vp-1023 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.form fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "uname utel"
    "qstn  qstn"
    "sendq agree";
  align-items: start;
  column-gap: 30px;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  border: none;

  @include vp-769 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "uname"
      "utel"
      "qstn"
      "sendq"
      "agree";
    column-gap: 0;
    row-gap: 18px;
  }
}

.form__user-name {
  grid-area: uname;
}

.form__tel {
  grid-area: utel;
}

.form__question {
  grid-area: qstn;
  grid-column: 1 / span 2;
}

.form__button {
  grid-area: sendq;
}

.form__agreement {
  grid-area: agree;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form textarea {
  width: 100%;
  min-height: 50px;
  padding: 13px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  background-color: transparentize($color-black-pearl, 0.85);
  border-color: transparent;
  border-radius: 3px;
  outline-color: $color-default-white;

  &::placeholder {
    font-family: $ff-ptmono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-transparent-white;
  }

  &:hover,
  &:focus {
    background-color: transparentize($color-black-pearl, 0.75);
  }

  &:disabled {
    opacity: 0.3;
  }

  &:invalid {
    background-color: transparentize($color-error, 0.55);
  }
}

.form textarea {
  resize: none;
  padding-top: 22px;
  padding-bottom: 22px;

  @include vp-1023 {
    padding-top: 29px;
    padding-bottom: 14px;
  }

  @include vp-769 {
    padding-top: 22px;
    padding-bottom: 46px;
  }
}

.form button[type="submit"] {
  justify-content: center;
  align-items: center;
  width: 97%;
  min-height: 46px;
  margin-top: 6px;

  @include vp-1023 {
    width: 83%;
    margin-top: 7px;
  }

  @include vp-769 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.form input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: transparentize($color-default-white, 0.2);

  margin-top: 18px;
  margin-left: 10px;

  @include vp-1023 {
    margin-top: 15px;
    margin-left: 0;
  }

  @include vp-769 {
    margin-top: -15px;
    margin-left: 5px;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    box-shadow: 0 0 0 1px $color-default-white;
    border-radius: 2px;
    cursor: pointer;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px $color-transparent-white;
  }
}

.form input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 2px $color-default-white;
}

.form input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}

.form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 8px;
  height: 6px;
  border-radius: 1px;
  border-left: 2px solid $color-default-white;
  border-bottom: 2px solid $color-default-white;
  transform: translateY(-50%) rotate(-45deg);
}
