.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100 * var(--vh, 1vh));

  display: grid;
  place-items: center;

  background-color: rgba($color-default-black, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 0.3s ease 0s;
  transform: translateY(100%);
  cursor: pointer;
}

.modal.show {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}

.modal__content {
  position: relative;

  width: 500px;
  min-height: 610px;
  padding: 40px;

  background-color: $color-deep-sky-blue;
  cursor: auto;

  @include vp-769 {
    width: 100%;
    padding: 20px;
  }
}

.modal .modal__close-btn {
  position: absolute;
  top: 18px;
  right: 14px;
  display: block;
  z-index: 1;

  width: 40px;
  height: 40px;
  padding: 0;

  background: $color-transparent;
  border: none;
  cursor: pointer;

  svg {
    fill: $color-default-white;
  }
}

.modal__offer {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 2px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.62%;
  color: $color-default-white;
}

.modal__service {
  width: 90%;
  margin: 0;
  margin-bottom: 38px;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.modal form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.modal fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "uname"
    "utel"
    "qstn"
    "sendq"
    "agree";
  row-gap: 18px;
}

.modal .form__user-name {
  grid-area: uname;
}

.modal .form__tel {
  grid-area: utel;
}

.modal .form__question {
  grid-area: qstn;
}

.modal .form__button {
  grid-area: sendq;
}

.modal .form__agreement {
  grid-area: agree;
  margin: -17px 0 6px;
}

.modal form button {
  width: 100%;
  margin: 0;
}
