.office {
  @include vp-769 {
    border-bottom: $accordion-border;
  }
}

.office__caption {
  @include vp-769 {
    border-top: $accordion-border;
  }
}

.office__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-769 {
    margin-bottom: -7px;
  }
}

.office__item {
  margin-bottom: 6px;
}

.office__address {
  line-height: 148%;

  @include vp-769 {
    padding-bottom: 8px;
  }
}

// .office__phone-number:not(:last-child) {
//   margin-bottom: 6px;
// }
