.products {
  background-color: $color-black-pearl-2;
}

.products__inner {
  max-width: 1300px;
  padding: 20px 40px 121px;

  @include vp-1023 {
    padding: 20px 50px 75px;
  }

  @include vp-769 {
    padding: 10px 25px 85px;
  }
}

.products__inner p {
  margin: 46px 0 53px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: $color-default-white;

  @include vp-1023 {
    margin: 36px 0 37px;
  }

  @include vp-769 {
    margin: 38px 0 28px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.products__inner p:first-of-type {
  @include vp-769 {
    display: none;
  }
}

.products__inner p:last-of-type {
  display: none;

  @include vp-769 {
    display: block;
    max-width: 90%;
  }
}

.products__inner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    flex-direction: column;
    gap: 30px;
  }
}

.products__inner li {
  position: relative;
  flex-basis: calc((100% - 2 * 6.9%) / 3);

  display: flex;
  justify-content: stretch;
  align-items: stretch;

  min-height: 650px;
  margin-bottom: 20px;

  background-color: $color-tangaroa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    min-height: 250px;
    margin-bottom: 0;
  }

  &:nth-child(3n+1) {
    background-image: url("../img/card-1-bg-desktop.jpg");

    @include retina {
      @media (min-width: $vp-desktop-only) {
        background-image: url("../img/card-1-bg-desktop@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/card-1-bg-tablet.jpg");

      @include retina {
        background-image: url("../img/card-1-bg-tablet@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/card-1-bg-mobile.jpg");

      @include retina {
        background-image: url("../img/card-1-bg-mobile@2x.jpg");
      }
    }
  }

  &:nth-child(3n+2) {
    background-image: url("../img/card-2-bg-desktop.jpg");

    @include retina {
      @media (min-width: $vp-desktop-only) {
        background-image: url("../img/card-2-bg-desktop@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/card-2-bg-tablet.jpg");

      @include retina {
        background-image: url("../img/card-2-bg-tablet@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/card-2-bg-mobile.jpg");

      @include retina {
        background-image: url("../img/card-2-bg-mobile@2x.jpg");
      }
    }
  }

  &:nth-child(3n+3) {
    background-image: url("../img/card-3-bg-desktop.jpg");

    @include retina {
      @media (min-width: $vp-desktop-only) {
        background-image: url("../img/card-3-bg-desktop@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/card-3-bg-tablet.jpg");

      @include retina {
        background-image: url("../img/card-3-bg-tablet@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/card-3-bg-mobile.jpg");

      @include retina {
        background-image: url("../img/card-3-bg-mobile@2x.jpg");
      }
    }
  }
}

.products__inner a {
  width: 100%;

  &:hover {
    box-shadow: 0 0 3px $color-alice-blue;
  }
}

.products__inner a:hover,
.products__inner a:focus-within {
  div {
    background-color: $color-alice-blue;
  }

  svg {
    stroke: $color-deep-sky-blue;
  }
}

.products__inner h3 {
  max-width: 240px;
  padding: 46px 40px 20px;
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: $color-default-white;

  @include vp-1023 {
    padding: 38px 45px 20px;
  }

  @include vp-769 {
    max-width: 190px;
    padding: 27px 30px 20px;
    font-size: 18px;
  }
}

.products__inner div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;

  @include vp-769 {
    width: 40px;
    height: 40px;
  }
}

.products__inner svg {
  fill: none;
  stroke: $color-default-white;
  stroke-linejoin: round;
}
