.site-sections__caption {
  @include vp-769 {
    border-top: $accordion-border;
  }
}

.site-sections__list {
  display: grid;
  grid-template-columns: 51% 49%;
  grid-auto-flow: dense;
  column-gap: 20px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.site-sections__item:not(:last-child) {
  margin-bottom: 5px;
}
